<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block layout_head_title %}
            {% if scaffolding %}{{scaffolding.title}}{% endif %}
            {{inflector.humanize(this.route.action)}}
        {% endblock %}</title>

    <!-- Styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Initial Scripts -->
    <script src="//www.google.com/jsapi"></script>  
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block layout_head %}
        {{this.events.layout_head()}}
    {% endblock %}

</head>
<body>
	
	<!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ uri('tasks:my') }}">No Excuses</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ uri('tasks:my') }}">Open Tasks</a></li>
            <li><a href="{{ uri('tasks:my',status='Closed') }}">Closed Tasks</a></li>
            <li><a href="{{ uri('tasks:add') }}">Add Task</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ this.user.email() }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ logout_url }}">Logout</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
{% block layout_body %}
    {% block layout_before_content %}
        {{this.events.layout_before_content()}}{% endblock %}
        
        <div class="container">
        {% include "elements/flash_messages.html" with context %}
        {% block layout_content %}
        {% endblock %}
        </div>
    {% block layout_after_content %}
        {{this.events.layout_after_content()}}{% endblock %}
{% endblock %}

    <!-- Post Body Scripts -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block layout_scripts %}
        {{this.events.layout_scripts()}}
    {% endblock %}

</body>
</html>