{% import 'scaffolding/macros.html' as s with context %}
{% import "macros/form.html" as f with context %}
{% extends s.layout() %}

{% block layout_head %}
	
{% endblock %}

{% block layout_content %}

<form method="POST">
    {{f.form_field(add_form, add_form.name)}}
    <a class="btn btn-default" href="{{ uri('tasks:my_view',key=task_key.urlsafe()) }}">Cancel</a>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock %}

{% block layout_scripts %}

{% endblock %}