{% import 'scaffolding/macros.html' as s with context %}
{% extends s.layout() %}

{% block layout_head %}
	
{% endblock %}

{% block layout_content %}
{% if category %}
<h4>{{ category }} - Open</h4>
{% endif %}
{% if not results %}
<a href="{{ uri('tasks:add') }}" class="btn btn-primary">Add New Task</a>
<hr />
{% endif %}
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Task</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in results %}   
        {% if loop.first %}
            {% set disabled_up_class = 'disabled' %}
            {% set move_up_key = item.key.urlsafe() %}
        {% else %}
            {% set disabled_up_class = '' %}
            {% set move_up_key = results[loop.index0-1].key.urlsafe() %}
        {% endif %}
        {% if loop.last %}
            {% set disabled_down_class = 'disabled' %}
            {% set move_down_key = item.key.urlsafe() %}
        {% else %}
            {% set disabled_down_class = '' %}
            {% set move_down_key = results[loop.index0+1].key.urlsafe() %}
        {% endif %}
        {% if item.is_open == False %}
            {% set text_style = 'text-decoration:line-through;' %}
        {% else %}
            {% set text_style = '' %}
        {% endif %}
        <tr>
            <td style="{{ text_style }}">{{ loop.index }}</td>
            <td style="{{ text_style }}">
                <a href="{{ uri('tasks:my_view',key=item.key.urlsafe()) }}" >
                    <span style="{{ text_style }}">{{ item.name }}</span>
                </a>&nbsp;&nbsp;
                <span class="label label-default">{{ item.category }}</span>
                {% if item.due_date_time %}
                    <br /><b>Due </b>{{ get_time_left_text(item.due_date_time,this.session['tz_offset']) }}
                {% endif %}
            </td>
            <td>
                {% if item.is_open %}
                    <div class="btn-group">
                        <a href="{{ uri('tasks:swap_tasks',item1=item.key.urlsafe(),item2=move_up_key) }}" class="btn btn-sm btn-default {{ disabled_up_class }}" title="Move Up"><span class="glyphicon glyphicon-arrow-up"></span></a>
                        <a href="{{ uri('tasks:swap_tasks',item1=item.key.urlsafe(),item2=move_down_key) }}" class="btn btn-sm btn-default {{ disabled_down_class }}" title="Move Down"><span class="glyphicon glyphicon-arrow-down"></span></a>
                        <a href="{{ uri('tasks:my_add',after_item=item.key.urlsafe()) }}" class="btn btn-sm btn-success " title="Add New Task"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                {% else %}
                    {% set user_closed_datetime = item.closed_date_time + datetime.timedelta(hours=this.session['tz_offset']) %}
                    Closed On: {{user_closed_datetime.strftime('%A, %m/%d/%Y %I:%M %p')}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr />
{% if closed_results %}
{% if category %}
<h4>{{ category }} - Completed</h4>
{% endif %}
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Task</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in closed_results %}   
        {% if loop.first %}
            {% set disabled_up_class = 'disabled' %}
            {% set move_up_key = item.key.urlsafe() %}
        {% else %}
            {% set disabled_up_class = '' %}
            {% set move_up_key = results[loop.index0-1].key.urlsafe() %}
        {% endif %}
        {% if loop.last %}
            {% set disabled_down_class = 'disabled' %}
            {% set move_down_key = item.key.urlsafe() %}
        {% else %}
            {% set disabled_down_class = '' %}
            {% set move_down_key = results[loop.index0+1].key.urlsafe() %}
        {% endif %}
        {% if item.is_open == False %}
            {% set text_style = 'text-decoration:line-through;' %}
        {% else %}
            {% set text_style = '' %}
        {% endif %}
        <tr>
            <td style="{{ text_style }}">{{ loop.index }}</td>
            <td style="{{ text_style }}"><a href="{{ uri('tasks:my_view',key=item.key.urlsafe()) }}" ><span style="{{ text_style }}">{{ item.name }}</span></a></td>
            <td style="{{ text_style }}"><a href="{{ uri('tasks:my',category=item.category) }}" class="btn btn-default btn-sm">{{ item.category }}</a></td>
            <td>
                {% if item.is_open %}
                    <div class="btn-group">
                        <a href="{{ uri('tasks:swap_tasks',item1=item.key.urlsafe(),item2=move_up_key) }}" class="btn btn-sm btn-default {{ disabled_up_class }}" title="Move Up"><span class="glyphicon glyphicon-arrow-up"></span></a>
                        <a href="{{ uri('tasks:swap_tasks',item1=item.key.urlsafe(),item2=move_down_key) }}" class="btn btn-sm btn-default {{ disabled_down_class }}" title="Move Down"><span class="glyphicon glyphicon-arrow-down"></span></a>
                        <a href="{{ uri('tasks:my_add',after_item=item.key.urlsafe()) }}" class="btn btn-sm btn-success " title="Add New Task"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                {% else %}
                    {% set user_closed_datetime = item.closed_date_time + datetime.timedelta(hours=this.session['tz_offset']) %}
                    Closed On: {{user_closed_datetime.strftime('%A, %m/%d/%Y %I:%M %p')}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block layout_scripts %}

{% endblock %}