{% import 'scaffolding/macros.html' as s with context %}
{% import "macros/form.html" as f with context %}
{% extends s.layout() %}

{% block layout_head %}
	
{% endblock %}

{% block layout_content %}

<form method="POST">
    {{f.form_field(form, form.name)}}
    {{f.form_field(form, form.category)}}
    <a class="btn btn-default" href="{{ uri('tasks:my') }}">Cancel</a>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock %}

{% block layout_scripts %}
<script>
    $( document ).ready(function() {
        $('#name').focus();
        $('#category').val('MyTasks');
    });
</script>
{% endblock %}