{% import 'scaffolding/macros.html' as s with context %}
{% extends s.layout() %}

{% block layout_head %}
	
{% endblock %}

{% block layout_content %}
{% if item.is_open %}
    {% set text_style = '' %}
{% else %}
    {% set text_style = 'text-decoration:line-through;' %}
{% endif %}
<h3><span style="{{ text_style }}">{{ item.name }}&nbsp;&nbsp;<small>{{ item.category }}</small></span></h3>
{% if item.due_date_time and item.is_open %}
    <h4>Due {{ get_time_left_text(item.due_date_time,this.session['tz_offset']) }}</h4>
{% endif %}
    {% if item.is_open %}
        <div class="btn-group">
            <a href="{{ uri('tasks:my_edit',key=item.key.urlsafe()) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Rename</a>
            <a href="{{ uri('tasks:mark_complete',key=item.key.urlsafe()) }}" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Mark Complete</a>
            <a href="{{ uri('tasks:set_due_date_time',key=item.key.urlsafe()) }}" class="btn btn-primary" title="Set Due Date Time"><span class="glyphicon glyphicon-time"></span></a>
            <a onclick="javascript: return confirm('Are you sure you want to delete this item?');" href="{{ uri('tasks:delete',key=item.key.urlsafe()) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    {% endif %}
<hr />
<div class="container-fluid">
    <div class="row">
        
        {% if item.is_open %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Reminders&nbsp;&nbsp;
                    {% if item.is_open %}
                        <a href="{{ uri('reminders:add_reminder',task_key=item.key.urlsafe()) }}" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus">
                        </a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {% if reminders %}
                        {% for rem in reminders %}
                            {% set user_reminder_datetime = rem.reminder_date_time + datetime.timedelta(hours=this.session['tz_offset']) %}
                            Send {{ rem.reminder_type }} on {{user_reminder_datetime.strftime('%A, %m/%d/%Y %I:%M %p')}}&nbsp;
                            (<a onclick="javascript: return confirm('Are you sure you want to delete this item?');" href="{{ uri('reminders:delete',key=rem.key.urlsafe()) }}">Delete</a>)<br />
                        {% endfor %}
                    {% else %}
                        No Reminders
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Sub Tasks&nbsp;&nbsp;
                    {% if item.is_open %}
                        <a href="{{ uri('subtasks:add_subtask',task_key=item.key.urlsafe()) }}" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus">
                        </a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {% if subtasks %}
                        {% for sub in subtasks %}
                            {% if sub.is_open %}
                                {% set style = '' %}
                                {% set toggle_text = 'Close' %}
                            {% else %}
                                {% set style = 'text-decoration:line-through;' %}
                                {% set toggle_text = 'Re-Open' %}
                            {% endif %}
                            <span style="{{ style }}">{{sub.name}}</span>&nbsp;&nbsp;
                            (<a href="{{ uri('subtasks:toggle_subtask',key=sub.key.urlsafe()) }}">
                                {{ toggle_text }}
                            </a>)&nbsp;
                            (<a href="{{ uri('subtasks:delete',key=sub.key.urlsafe()) }}" onclick="javascript: return confirm('Are you sure you want to delete this item?');">Delete</a>)<br />
                        {% endfor %}
                    {% else %}
                        No Subtasks
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Notes&nbsp;&nbsp;
                    {% if item.is_open %}
                        <a href="{{ uri('subtasks:add_subtask',task_key=item.key.urlsafe()) }}" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus">
                        </a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    Notes
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}

{% block layout_scripts %}

{% endblock %}