{% import 'scaffolding/macros.html' as s with context %}
{% import "macros/form.html" as f with context %}
{% extends s.layout() %}

{% block layout_head %}
	
{% endblock %}

{% block layout_content %}
<h4>Set Due Date Time</h4>
<form method="POST">
    <div class="form-group">
        <label for="datepicker">Date</label>
        <input type="date" class="form-control" id="datepicker" name="datepicker" required value="{{ user_date }}">
    </div>
    <div class="form-group">
        <label for="timepicker">Time</label>
        <input type="time" class="form-control" id="timepicker" name="timepicker" required value="{{ user_time }}">
    </div>
    <a class="btn btn-default" href="{{ uri('tasks:my_view',key=item.key.urlsafe()) }}">Cancel</a>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock %}

{% block layout_scripts %}

{% endblock %}